@use '../../w3/theme'
.StatusBar
  height: 20px
  background-color: theme.$secondary-d3
  p.mode
    height: 20px
    margin: 0 0!important
    font-size: 15px
    padding:
      left: 5px !important
      right: 5px !important
      top: 0!important
      bottom: 0!important
    &.normal
      background-color: theme.$primary-d4
    &.fill
      background-color: red
    &.replace
      background-color: green
    &.pick
      background-color: blue
  .info
    background-color: #2196F3
    color: white
  .warning
    background-color: #ff9800
    color: white
  .error
    background-color: #f44336
    color: white
