@use '../../w3/theme'
.StatusBar
  display: flex
  justify-content: space-between
  background-color: theme.$secondary-d3
  .left-items, .right-items
    display: flex
    align-items: center
  .info
    background-color: #2196F3
    color: white
  .warning
    background-color: #ff9800
    color: white
  .error
    background-color: #f44336
    color: white
