@use '../w3/theme'
@use 'sass:color'

.editor-container
  height: 100%
  background-color: orange
  position: relative
  .view
    height: 100%
    width: 100%
  .toolbar-container
    height: 50px
    width: 100%
    background-color: transparentize($color: theme.$black, $amount: 0.1)
    position: absolute
  .status
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    z-index: 500
    height: 20px
  .action-bar-container
    background-color: transparentize($color: theme.$primary, $amount: 0.7)
    width: 45px
    height: 40px
    position: absolute
    left: 10px
    top: 10px
    &:hover
      background-color: color.adjust(transparentize($color: theme.$primary, $amount: 0.7), $lightness: 50%)

