.editor-container
  height: 100%
  background-color: orange
  position: relative
  .view
    height: 100%
    width: 100%
  .status
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    z-index: 500

