.changes-bar
  display: flex
  flex-direction: column
  gap: 5px
  padding: 5px
  background-color: #333
  color: white
  height: 100%
  .do-buttons
    display: flex
    gap: 5px
    button
      flex-grow: 1
  .changes
    display: flex
    flex-direction: column
    gap: 5px
    overflow-y: auto
    .stack-button
      padding: 2px
      border: 1px solid #555
      background-color: #444
      &:hover
        background-color: #555
      &.selected
        border-color: #fff
        background-color: #666
      img
        width: 100%
        height: auto
        object-fit: contain