@use '../../w3/theme'

.changes-bar
  width: 100%
  height: 100%
  background-color: rgba(theme.$tertiary-d5, 0.4)
  .do-buttons
    .w3-button
      width: 50%
  .changes
    border:
      top: 2px theme.$primary-d2 solid
    .stack-button
      width: 100%
      border: 2px transparent solid
      &.selected
        border: 2px theme.$tertiary-l4 solid
      &:hover
        border: 2px theme.$tertiary-l4 dotted
        
