@use 'theme'

html
    background-color: theme.$background-color
    color: theme.$on-background
.w3-button
  background-color: theme.$primary
  color: theme.$on-primary
.w3-button:hover
  background-color: theme.$tertiary !important
  color: theme.$on-primary !important
  transition: 0.1s ease-in-out

