$background-color: #0f0f1f
$on-background: #e0e0e0

$container: #17171f
$on-container: #eaeaea

$primary: #2f2f3f
$primary-container: #211f1f
$on-primary: #efeeee

$secondary: #3f2f3f
$secondary-container: #212f2f
$on-secondary: #efdede


$tertiary: #3f3f3f
$tertiary-container: #2f2f2f
$on-secondary: #efdede

